
.dice-game .board {
  position: relative;
}

.dice-game .tilemap {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 50px;
  transform: rotate(45deg);
}

.dice-game .tilemap .item {
  position: relative;
  aspect-ratio: 1 / 1;
  color: white;
}

.dice-game .tilemap .item .floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  max-width: revert;
  aspect-ratio: 1 / 1;
}


.dice-game .tilemap .item .mark {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.dice-game .tilemap .item .prize {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%) rotate(-45deg);
  width: 80%;
  aspect-ratio: 1 / 1;
}

.dice-game .tilemap .item span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/chip-3.png);
  color: var(--blue);
}

.dice-game .tilemap .item.active .mark {
  display: inline-block;
}

.dice-game .dice {
  width: 64px;
  height: 64px;
}

@keyframes dice {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -15px;
  }
  50% {
    margin-top: 0;
  }
  75% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes tile {
  0% {
    filter: brightness(2);
  }
  100% {
    filter: none;
  }
}