body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {

}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {
}
