.scratch-game .panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: min-content;
  background: linear-gradient(to top, #d20b12, #881103);
  border: 2px solid;
  border-image: linear-gradient(to bottom, gold, white, gold) 1;
  padding: 10px;
}

.scratch-game .sticker {
  position: absolute;
  top: 0;
  width: 28px;
  height: 32px;
  padding: 5px;
  background-color: white;
  color: black;
}

.scratch-game .panel .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.scratch-game .panel .title img {
  width: 80px;
}

.scratch-game .panel .brand {
  left: 0;
  border-bottom-right-radius: 8px;
}

.scratch-game .panel .brand img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.scratch-game .multiplier {
  right: 0;
  border-bottom-left-radius: 8px;
}

.scratch-game .scratchables {
  display: grid;
  grid-auto-rows: 50px;
  border: 2px solid;
  border-image: linear-gradient(to bottom, salmon, white, salmon) 1;
}

.scratch-game .scratchable {
  position: relative;
  cursor: default;
  background-color: wheat;
  color: #333;
}

.scratch-game .scratchable > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scratch-game .scratchable .mark {
  visibility: hidden;
  border: 2px solid white;
}

.scratch-game .scratchable .content {
  visibility: hidden;
  width: 70%;
  height: 70%;
  font-size: 1.2rem;
}

.scratch-game .scratchable .coat {
  background-color: #d20b12;
  padding: 5px;
}

.scratch-game .scratchable.revealed .content {
  visibility: visible;
}

.scratch-game .scratchable.revealed .coat {
  mask-image: url(images/scratch-mask-2.png);
  mask-size: cover;
}

.scratch-game .scratchable.matched .mark {
  visibility: visible;
}
