
.ticker {
  display: flex;
  gap: 5px;
}

.ticker .title {
  padding: 5px;
  background-color: var(--label-color);
  border-radius: 5px;
}

.ticker .items-outer {
  overflow: hidden;
}

.ticker .items {
  flex: 1;
  display: flex;
}

.ticker .items * {
  font-weight: normal;
  font-size: 0.8rem;
}

.ticker .items .item {
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  width: 17%;
  min-width: 120px;
  height: 50px;
  background-color: var(--label-color);
  padding: 5px;
  border-radius: 5px;
}

.ticker .items .item .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticker .items .item .details .amount {
  font-weight: bold;
  font-size: 1rem;
}
