<nav class="navbar">
  <div class="content container">
    <img class="logo" src="images/logo.png" onclick="goHome()" />
    <div class="balance center">
      <img src="images/chip.png" />
      <span>2000</span>
      <button class="button" onclick="increaseBalance(2000)"><i class="bi bi-plus-lg"></i></button>
      <button class="button" onclick="increaseBalance(-2000)"><i class="bi bi-dash-lg"></i></button>
    </div>
    <div class="menu m-hidden">
      <button class="icon-btn" onclick="goHome()"><i class="bi bi-house-door"></i></button>
      <button class="icon-btn" onclick="shop.toggle()"><i class="bi bi-shop-window"></i></button>
      <button class="icon-btn" onclick="inventory.toggle()"><i class="bi bi-box-seam"></i></button>
      <button class="icon-btn theme-toggle" onclick="toggleDarkTheme()"><i class="bi bi-moon"></i></button>
    </div>
    <button class="hamburger icon-btn hidden" onclick="navbar.toggle()"><i class="bi bi-list"></i></button>
  </div>
</nav>