.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  margin-bottom: auto;
  padding-bottom: 5px;
}

.items-container > .message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  text-align: center;
  color: var(--text-color);
  font-weight: normal;
  opacity: 0.8;
}

.items-container .item {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--label-color);
  border-radius: 10px;
  padding-top: 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.items-container .item > * {
  width: calc(100% - 20px);
}

.items-container .item .image {
  position: relative;
}

.items-container .item .image img {
  width: 80%;
  aspect-ratio: 1 / 1;
}

.items-container .item button {
  width: 100%;
}

.container {
  max-width: 960px !important;
  margin: auto;
}

.shop-modal > .modal-content {
  width: calc(100% - 20px);
  height: 500px;
}

.shop-modal > .modal-content .content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-modal > .modal-content .menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shop-modal > .modal-content .countdown {
  font-weight: normal;
  font-size: 0.8rem;
}

.shop-modal .item .quantity {
  position: absolute;
  bottom: 0;
  right: 0;
}

.shop-modal .item .badge {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-image: url(../../images/shop-badge.png);
  background-size: contain;
  font-size: 0.8rem;
}

.shop-modal .item .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shop-modal .item .limit {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}

.shop-modal .item.discount .footer button span:nth-child(2) {
  text-decoration: line-through;
  opacity: 0.8;
}