.reward-modal > .modal-content {
  width: 300px;
  min-height: 200px;
}

.reward-modal .slots .item {
  animation: item 0.2s forwards;
}

@keyframes item {
  0% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}