.item-modal > .modal-content {
  width: 300px;
  min-height: 200px;
}

.item-modal .title .name {
  max-width: 150px;
}

.item-modal .description {
  flex: 1;
  max-height: 150px;
  overflow-y: auto;
  font-weight: normal;
  opacity: 0.8;
}

.item-modal .tier-label {
  min-width: 28px;
  background: gray;
  color: white;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.item-modal .tier-label.r,
.item-modal .tier-label.sr {
  background: salmon;
}

.item-modal .tier-label.ssr {
  background: var(--gold);
}
